<h2>Register</h2>
<form (ngSubmit)="register()" #registerForm="ngForm">
  <div class="mb-3">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
  </div>
  <div class="mb-3">
    <label for="lastname">Lastname:</label>
    <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname" required>
  </div>
  <div class="mb-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
    <div id="emailHelp" class="form-text">Mínimo 8 caracteres</div>
  </div>
  <div class="mb-3">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
  </div>
  <div class="mb-3">
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
